@model School_Management_System.ViewModel.StudentCreateViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<h2>Add New Student</h2>
<hr />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@using (Html.BeginForm("AddOrEdit", "StudentViewModel", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "SubmitForm" }))
{
    @Html.AntiForgeryToken();
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s2">
                    @Html.LabelFor(t => t.StudentName)
                </div>
                <div class="input-field col s10">
                    @Html.EditorFor(t => t.StudentName)
                    @Html.ValidationMessageFor(p => p.StudentName, "")
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    @Html.LabelFor(t => t.Address)
                </div>
                <div class="input-field col s10">
                    @Html.EditorFor(t => t.Address)
                    @Html.ValidationMessageFor(p => p.Address, "")
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    @Html.LabelFor(t => t.Email)
                </div>
                <div class="input-field col s10">
                    @Html.EditorFor(t => t.Email)
                    @Html.ValidationMessageFor(p => p.Email, "")
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    @Html.LabelFor(t => t.Contact)
                </div>
                <div class="input-field col s10">
                    @Html.EditorFor(t => t.Contact)
                    @Html.ValidationMessageFor(p => p.Contact, "")
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    @Html.LabelFor(t => t.StudentDOB)
                </div>
                <div class="input-field col s10">
                    @Html.EditorFor(model => model.StudentDOB, new { htmlAttributes = new { @class = "datepicker" } })
                    @Html.ValidationMessageFor(p => p.StudentDOB, "")
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    @Html.LabelFor(model => model.ImageUrl)
                </div>
                <img src="~/Images/no.png" height="80" width="75" class="change_edit" />
                <input type="file" name="ImageFile" class="changeImage" />
                @Html.ValidationMessageFor(model => model.ImageUrl, "")

            </div>
            <div class="row">
                <div class="input-field col s2">
                    <input type="submit" value="Submit" class="btn-small green" />
                </div>
            </div>
        </form>
    </div>
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Content/js/materialize.min.js"></script>

<script>
    $(document).ready(function () {
        $('.datepicker').datepicker();
    });

    function activatejQueryTable() {
        $("#StudentTable").DataTable();
    }

    $(function () {
        activatejQueryTable();
    });

</script>