@model School_Management_System.Models.tblUser

@{
    ViewBag.Title = "Register";
}

<h3>Register User</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "")
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s2">
                    @Html.LabelFor(model => model.UserName)
                </div>
                <div class="input-field col s10">
                    @Html.EditorFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName, "")
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    @Html.LabelFor(model => model.UserPassword)
                </div>
                <div class="input-field col s10">
                    @Html.EditorFor(model => model.UserPassword)
                    @Html.ValidationMessageFor(model => model.UserPassword, "")
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    @Html.LabelFor(model => model.FullName)
                </div>
                <div class="input-field col s10">
                    @Html.EditorFor(model => model.FullName)
                    @Html.ValidationMessageFor(model => model.FullName, "")
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10">
                    <input type="submit" value="Create" class="btn-small green" />
                </div>
            </div>
        </form>
    </div>
}

<div>
    @Html.ActionLink("Go to Login", "Login")
</div>


