@model School_Management_System.Models.tblRole

@{
    ViewBag.Title = "CreateRole";
}

<h2>Create Role</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "")
    <div class="row">
        <div class="input-field col s2">
            @Html.LabelFor(model => model.RoleName)
        </div>
        <div class="input-field col s10">
            @Html.EditorFor(model => model.RoleName)
            @Html.ValidationMessageFor(model => model.RoleName, "")
        </div>
    </div>

    <div class="row">
        <div class="input-field col s2">
            @Html.LabelFor(model => model.UserID)
        </div>
        <div class="input-field col s10">
            @Html.DropDownListFor(model => model.UserID, ViewBag.Users as SelectList, "Select User", new { @class = "dropdown-trigger btn" })
            @Html.ValidationMessageFor(model => model.UserID, "")
        </div>
    </div>

    <div class="row">
        <div class="input-field col s2">
            <input type="submit" value="Create Role" class="btn" />
        </div>
    </div>
}



