@model School_Management_System.Models.tblRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUser.UserName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


